{% extends 'base.html' %}
{% load static %}
{%load i18n%}
{% block body %}
{% include "homenav.html" %}
<section class="fpoint-section hpcard jumbotron" id="home-section"
  style="background-image: url('{% static 'img/codebg.jpg' %}')">
  <div class="overlay"></div>
  <div class="inner">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-6 col-lg-5 ">
          {% if profile.main_image %}
          <img src="{{profile.main_image.url}}" alt="{{profile.name}} - {{profile.surname}}"
            class="rounded-circle img-thumbnail img-fluid mx-auto d-block" />
          {% endif %}
          <div class="row mt-4 mb-4 text-center	justify-content-center ">
            <ul class="list-inline social-bar">
              <li class="list-inline-item mr-4"> <a class="pro-link" target="_blank" href="{{profile.github}}">
                  <i class="fab fa-github icon-4x fa-2x"></i>
                </a></li>
              <li class="list-inline-item mr-4"><a class="pro-link" target="_blank" href="{{profile.twitter}}">
                  <i class="fab fa-twitter icon-4x fa-2x"></i>
                </a></li>
              <li class="list-inline-item mr-4"><a class="pro-link" target="_blank" href="{{profile.instagram}}">
                  <i class="fab fa-instagram icon-4x fa-2x"></i>
                </a></li>
              <li class="list-inline-item"><a class="pro-link" target="_blank" href="{{profile.messenger}}">
                  <i class="fab fa-facebook-messenger fa-2x"></i>
                </a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-7 pl-lg-5 ">
          <div class="row  ">
            <div class="col-md-12 heading-section ">
              <h1 class="big"><span class="bigfirst">{{profile.name}}</span> {{profile.surname}}</h1>
              <h2 class="expertise">{{profile.worktitle}}</h2>
              <div class="row">
                <div class="col-md-2 mb-4">
                  <hr class="solid">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-12">
                  {{profile.catchphrase|safe}}
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-md-3 mb-4">
            <div class="col-md-6 ">
            </div>
            <div class="col-md-6 mb-4">
              <a href="{{profile.cv.url}}" class="btn btn-block btn-outline-primary py-3 px-3 mt-4 mb-4 "><i
                  class="fas fa-cloud-download-alt"></i> {% trans 'Download CV'%}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <svg width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 50 L50 90 L100 50 V100 H0" fill="#111111" />
    </svg>
  </div>
</section>
<section class="section-skills" id="skills-section">
  <div class="container  pb-4">
    <div class="row pt-4">
      <div class="col-md-12 mb-2">
        <div class="top-title">
          <h2 class="sectiontitle">My Skills</h2>
          <div class="d-flex justify-content-center skill-typer">
            <span class="typer" id="main_typer"
              data-words="My favorite OS is Linux,I like to code in VS Code,I &hearts; cats"
              data-colors="#7FB347,#D25252,#569CD6" data-delay="100" data-deleteDelay="1000"></span>
            <span class="cursor" data-owner="main_typer"></span>
          </div>
        </div>
        <div class="col-md-12 mb-2">
          <nav class="nav nav-pills justify-content-center" id="myTab" role="tablist">
            {% regroup skills by category.parent as skill_categories %}
            {% for skill_category in skill_categories %}
            <a class="nav-item nav-link {% if skill_category.grouper.sort == 2 %} active{% endif %}"
              id="{{skill_category.grouper.slug}}-tab" data-toggle="tab" href="#{{skill_category.grouper.slug}}"
              role="tab" aria-controls="{{skill_category.grouper.slug}}" aria-selected="true">
              <i class="{{skill_category.grouper.icon}}"></i> {{skill_category.grouper}}
            </a>
            {% endfor %}
          </nav>
          <div class="tab-content" id="myTabContent">
            {% for skill_category in skill_categories %}
            <div class="tab-pane fade  {% if skill_category.grouper.sort == 2 %}show active{% endif %}"
              id="{{skill_category.grouper.slug}}" role="tabpanel" aria-labelledby="{{skill_category.grouper.slug}}">
              <div class="row">
                {% regroup skill_category.list by category as skillsa %}
                {% for skill_subcategory in skillsa %}
                <div class="col-md-4 mt-4">
                  <h3 class="skillgrouptitle">{{skill_subcategory.grouper}}</h3>
                  <hr class="solidblue mb-4">
                  {% for skill in skill_subcategory.list %}
                  <p class="skills-heading">{{ skill.title }}</p>
                  <div class="progress skills mb-2">
                    <div class="progress-bar skillbar" role="progressbar" style="width: {{ skill.skill }}%"
                      aria-valuenow="{{ skill.skill }}" aria-valuemin="0" aria-valuemax="100">
                    </div>
                  </div>
                  {% endfor %}
                </div>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="portfolio sectiona portfoliobg" id="portfolio-section">
  <div class="container">
    <div class="row pt-4 pb-4">
      <div class="col-md-12 ">
        <div class="top-title">
          <h2 class="sectiontitle">Portfolio</h2>
        </div>
      </div>
      <div class="col-md-12">
        <div class="filters">
          <ul>
            <li class="active" data-filter="*">{% trans 'All' %}</li>
            {% for categories in portfolio_categories %}
            <li data-filter=".{{categories.slug}}">{{categories.title}}</li>
            {%endfor%}
          </ul>
        </div>
        <div class="filters-content "><div class=""></div>
          <div class="row grid">
            {% for item in portfolio %}
            <div class="col-sm-6 col-12 col-md-6 col-lg-4 all {{item.category.slug}} mb-2">
              <div class="box item">
                {% if item.thumbnail_front%}
                <img class="lazy" src="{{item.thumbnail_front.url}}">
                {%else%}
            
                <img class="lazy" src="{{item.thumbnail.url}}">
                {%endif%}
                
                
                <div class="box-content">
                  <div class="inner-content">
                    <h3 class="title">{{item.title}}</h3>
                    <span class="post">{{item.category}}</span>
                    <ul class="icon">
                      <li><a href="{% url 'portfolio:portfolioDetail' item.slug %}"><i class="fa fa-search"></i></a>
                      </li>
                     
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            {%endfor%}
          </div>
        </div>
      </div>
      <div class="col-12 pb-4 text-center">

        <a href="{% url 'portfolio:allPortfolios' %}" type="button" class="btn btn-outline-dark"> {% trans 'See All' %}</a>

      </div>
    </div>
  </div>
</section>
<section class="section-skills" id="experience-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-4">
        <div class="top-title">
          <h2 class="sectiontitle experience-green" lang="el">{% trans 'Experience' %}</h2>
        </div>
      </div>
      <div class="col-md-12">
        <div class="main-timeline">
          <!-- start experience section-->
          {% for work_exp in work %}
          <div class="timeline">
            <div class="date-content">
              <div class="date-outer">
                <span class="date">
                  <span class="month">{% if work_exp.to_date%} {{work_exp.to_date|date:"Y"}} {%else%} Since {% endif %}
                  </span>
                  <span class="year">{{work_exp.from_date|date:"Y"}}</span>
                </span>
              </div>
            </div>
            <div class="timeline-content">
              <h5 class="title">{{work_exp.title}}</h5>
              <h6 class="title green">{{work_exp.duties}}</h5>
                <p class="description">
                <div class="row">
                  <div class="col-md-12">
                    <p>{{work_exp.description}}</p>
                  </div>
                  <div class="col-12">
                    <ul class="work fa-ul">
                      {% if work_exp.responsibilities_set.all %}
                      {% for item in work_exp.responsibilities_set.all %}
                      <li class=""><span class="fa-li"><i class="fa fa-check" aria-hidden="true"></i></span> {{item}}
                      </li>
                      {%endfor%}
                      {% endif %}
                    </ul>
                  </div>
                </div>
                </p>
            </div>
          </div>
          {%endfor%}
          <!-- end experience section-->
        </div>
      </div>
    </div>
  </div>
</section>
<section class="" id="story-section">
  <div class="container">
    <div class="row pt-4 pb-4">
      <div class="col-md-12 ">
        <div class="top-title">
          <h2 class="sectiontitle" lang="el">{% trans 'My Story' %}</h2>
        </div>
      </div>
      <div class="col-md-12">
        {{profile.story|safe}}
        </p>
      </div>
    </div>
  </div>
</section>
{% if posts %}
<section id="blog-section" class="section-skills">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <div class="top-title">
          <h2 class="sectiontitle">{% trans 'Latest Posts' %}</h2>
        </div>
      </div>
      <div class="col-md-12 ">
        <div class="row">
          {% for post in posts %}
          <div class="col-md-4 ">
            <div class="blog-entry justify-content-end">
              <a href="{% url 'blog:postDetail' post.slug %}" class="block-20">
                <img class="card-img-top lazy" src="{{post.thumbnail.url}}" alt="">
              </a>
              <div class="text mt-3 float-left ">
                <div class="d-flex align-items-center mb-3 ">
                  <p class="mb-0 meta">
                    <span class=" mr-2"><i class="fas fa-calendar-day"></i> {{post.created|date:'d/m/y'}}</span>
                    <a href="#" class="mr-2"><i class="fas fa-tag"></i> {{post.category}}</a>
                  </p>
                </div>
                <h3 class="heading"><a href="{% url 'blog:postDetail' post.slug %}">{{post.title}}</a></h3>
                <p>{{post.body|striptags|safe|truncatechars:80}}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-12 pb-4 mt-4 pt-4 text-center">
        <a href="{% url 'blog:allPosts' %}" type="button" class="btn btn-outline-dark"> {% trans 'Read All' %}</a>
      </div>
    </div>
  </div>
</section>
{%endif%}
<section class="" id="contact-section">
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-12 ">
        <div class="top-title">
          <h2 class="sectiontitle">{% trans 'Contact me' %}</h2>
        </div>
      </div>
      <div class="col-md-12 mb-4 pb-4">
        <div class="row">
          <div class="col-md-8">
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="firstname">{% trans 'First Name' %}</label>
                  <input type="text" class="form-control eform" id="firstname" placeholder="Eric">
                </div>
                <div class="form-group col-md-6">
                  <label for="lastname">{% trans 'Last Name' %}</label>
                  <input type="text" class="form-control eform" id="lastname" placeholder="Tragoustis">
                </div>
              </div>
              <div class="form-group">
                <label for="email">{% trans 'E-mail' %}</label>
                <input type="email" class="form-control eform" id="email" placeholder="bestemail@email.com">
              </div>
              <div class="form-group">
                <label for="inputAddress2">{% trans 'Subject' %}</label>
                <input type="text" class="form-control eform" id="inputAddress2" placeholder="I want to hire you">
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">{% trans 'Message' %}</label>
                <textarea class="form-control eform" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-block btn-outline-dark">{% trans 'Send' %}</button>
            </form>
          </div>
          <div class="col-md-4">
            <ul class="list-unstyled fa-ul social-bar">
              <li class=" mr-4">
                <a class="pro-link" href="{{profile.github}}"><span class="fa-li"><i class="fab fa-github"></i></span>
                  Github </a></li>
              <li class="mr-4"><a class="pro-link" target="_blank" href="{{profile.twitter}}">
                  <span class="fa-li"><i class="fab fa-twitter "></i></span>Twitter
                </a></li>
              <li class=" mr-4"><a class="pro-link" target="_blank" href="{{profile.instagram}}">
                  <span class="fa-li"><i class="fab fa-instagram "></i></span>Instagram
                </a></li>
              <li class=""><a class="pro-link" target="_blank" href="{{profile.messenger}}">
                  <span class="fa-li"><i class="fab fa-facebook-messenger "></i></span>Facebook
                </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}
{% block extrajsimport %}
  <script src={% static "js/main.js" %}></script>
  <script src={% static "js/lang.js" %}></script>
  <script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>
  <!-- <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script> -->
  <script>
    //Wow
    var myLazyLoad = new LazyLoad();
    myLazyLoad.update();
  </script>
{% endblock extrajsimport %}