{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block body %}
{% include "nav.html" %}

<div class="jumbotron jumbotron-fluid" style="background-image: url('{% static 'img/portfolio.jpg' %}')">
    <div class="overlay"></div>
    <div class="inner">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="display-4">Portfolio </h1>{{portfolio.category}} > {{portfolio.title }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <hr class="solid">
                </div>
            </div>
            
        </div>
    </div>
</div>
<section class="mt-4">
    <div class="container pt-4">
        {%if portfolio.is_video %}
        <div class="video-container">
            
            <iframe src="https://www.youtube.com/embed/{{portfolio.video_id}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        {%else%}
        {% if portfolio.url %}
        <div class="d-flex justify-content-center">
            <div class="port-image">
                <img src="{{portfolio.feat_image.url}}" class="img-fluid">
            </div>
        </div>
        {%else%}
        <div class="d-flex justify-content-center">
      
                <img src="{{portfolio.feat_image.url}}" class="img-fluid">
     
        </div>
        {%endif%}
        {%endif%}
        {% if portfolio.technologies.all %}
        <div class="row mt-4 technologies">
            {%for tech in portfolio.technologies.all%}

            <div class="col-6 col-md-3 techno mt-4">
                <div class=""><i class="{{tech.icon}} tech-icon"></i></div>
                <div class="">{{tech.title}}</div>

            </div>
            {%endfor%}
        </div>
        {%endif%}

        <div class="row mt-4 mb-4">

            <div class="col-md-7  mt-2">
                <h2>{{portfolio.title}}</h2>
                {% if portfolio.description %}
                {{portfolio.description|safe}}
                {% endif %}
            </div>
            <div class="col-md-5  mt-2">
                <dl class="row">
           
                    {% if portfolio.creation_date %}
                    <dt class="col-sm-5">{% translate 'Creation date' %}:</dt>
                    <dd class="col-sm-7">{{portfolio.creation_date|date:'Y'}}</dd>
                    {% endif %}
                    {% if portfolio.url %}
                    <dt class="col-sm-5">URL:</dt>
                    <dd class="col-sm-7">{{portfolio.url}}

                    </dd>
                    {% endif %}
                    {% if portfolio.section %}
                    <dt class="col-sm-5">{% trans 'Sector' %}:</dt>
                    <dd class="col-sm-7">{{portfolio.section}}

                    </dd>
                    {% endif %}   
                </dl>
                {% if portfolio.url %}
                <a href="{{portfolio.url}}" target="_blank" class="btn btn-primary btn-block mt-4">{% trans 'Visit Website' %}</a>
                {% endif %}
         
                {% if portfolio.social_url %}
                <a href="{{portfolio.social_url}}" target="_blank" class="btn btn-primary btn-block mt-4">{% trans 'Visit Profile' %}</a>
                {% endif %}
            </div>
        </div>

    </div>
</section>

{% endblock body %}
{% block extrajsimport %}
<script src={% static "js/main.js" %}></script>
{% endblock extrajsimport %}